.App {
  font-family: ghfont;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  background: url(./assets/scrollbkground.jpg) no-repeat fixed center;
}

.App-link {
  color: #61dafb;
}

.checkbox:checked:after {
  content: '\2713';
  font-size: 16px;
  font-weight: bolder;
  position: absolute;
  top: -7px;
  left: 0px;
  color: rgb(255, 255, 255);
}

.checks:checked:after {
  content: '\2713';
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  top: -7px;
  left: 0px;
  color: rgb(255, 255, 255);
}

