body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: PirataOne;
}

@font-face {
  font-family: 'PirataOne';
  src: local('PirataOne-Gloomhaven.ttf'), url(./style/PirataOne-Gloomhaven.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
