.redGuard {
   background: url(../assets/redguard.jpg);
}

.hatchet {
   background: url(../assets/hatchet.jpg);
}

.voidwarden {
   background: url(../assets/voidwarden.jpg);
}

.demolitionist {
   background: url(../assets/demolitionist.jpg);
}

.modal {
   background: url(../assets/scrollbkground.jpg);
}

.modal-perks {
   background: url(../assets/scrollbkground.jpg);
}