.header {
  background: url(../assets/woodgrain.jpg);
  /* background-repeat: none;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  letter-spacing: 6px;
  text-shadow: 0 1px 5px black;
  box-shadow: 0 1px 5px black; */
}

#menuToggle {
  background: url(../assets/woodgrain.jpg);
}

.drawer {
  width: 54%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 23%;
  transform: translate(-50%, -50%);
  background: url(../assets/woodgrain.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 10px rgb(80, 80, 80);
  font-family: PirataOne;
}

.clickable {
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
