header {
  background: url(../assets/woodgrain.jpg);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  letter-spacing: 6px;
  text-shadow: 0 1px 5px black;
}

.App-logo {
  width: 4vw;
  pointer-events: none;
  filter: invert(100%) sepia(100%) saturate(1822%) hue-rotate(290deg) brightness(80%) contrast(119%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
